<div style="display: flex; justify-content: center">
  <h1>This is an app that demonstrates the use of Observables</h1>
</div>

<div style="text-align: center; box-shadow: 2px 2px 4px maroon">
  <div>
    <h4>Click button below on different X pos to see observable in action</h4>
  </div>
  <div>
    <button #button class="btn btn-danger" style="margin: 5px">Click me</button>
  </div>
  <div>
    <textarea type="text" [value]='txtValue' style="text-align: center"></textarea>
  </div>
  <h4 style="text-align: center">
    <div>The code uses the rxJs library Observable api.</div>
    <div>The fromEvent of the rxJs event list is put to use here on the button click event.</div>
  </h4>
</div>




